body 
{
	margin: 0;
}

a:link
{
	color: #090909;
	text-decoration: none;
}

a:visited
{
	color: #090909;
	text-decoration: none;
}

a:hover
{
	color: #090909;
	text-decoration: underline;
}

a:active {
	color: #090909;
    text-decoration: underline;
}

ul {
    list-style-type: square;
    margin: 5px;
    padding: 5px;
}

#page-header
{
	text-align: center;
	background-image: url("https://static.pexels.com/photos/160107/pexels-photo-160107.jpeg");
	background-size: cover;
	background-position: center, center;
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	padding: 20px;
}



.headshot
{
	margin: 5px 0px 0px 0px;
	border: 7px solid white;
	border-radius: 20px;
	width: 150px;
	height: 150px;
}

#main-content
{
	text-align: left;	
	background-size: cover;
	color: #090909;
	font-family: helvetica;
	margin: 0;
}

.inner
{
	max-width: 1024px;
	margin: 0 auto;
	background-color: rgba(233, 233, 233,.85);
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	margin-top: -20px;
	margin-bottom: -20px;
	overflow:auto;
}

div.gallery {

    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 30%;
    height: auto;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img
{
	overflow:auto;
    width: 100%;
    height: auto;
}

div.gal_desc {
    padding: 15px;
    text-align: center;
}

.BUlogo
{
	
	width: 150px;
	height: 150px;
}

.education
{
	background-image: url("https://www.suny.edu/media/suny/content-assets/images/campus-profiles/pics/binghamton.jpg");
	background-size: cover;
	background-position: bottom;
	padding: 20px;
}

.ARMB
{
	/*background-color: #8CA3C4;	*/

	background-image: url("https://static.pexels.com/photos/270571/pexels-photo-270571.jpeg");
	background-size: cover;
	padding: 20px;

}

.avalanche
{
	overflow:auto;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/51/4-17-2013_-_West_Tunnel_icicles_%288660718177%29.jpg");
	
	background-size: cover;
	/*box-shadow: inset 0 0 0 1000px rgba(188,169,152,.95);*/
	
	padding: 20px;

}

.baseball
{
	clear: both;
	overflow:auto;
	background-image: url("https://static.pexels.com/photos/89699/pexels-photo-89699.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	/*background-color: rgba(5,5,5,.5);*/
	/*box-shadow: inset 0 0 0 1000px rgba(183,182,126,.95);*/
	padding: 20px;
}

.uno
{
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/UNO_cards_deck.svg/1195px-UNO_cards_deck.svg.png");
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);
	/*background-color: #8b8099;*/
	
	padding: 20px;
	
}
/*
#main-content
{
	position: relative;
	max-width: 350px;
	margin: 0 auto;
	margin-bottom: 25px;
}*/